In [1]:
import os
import logging
import glob
import json
import sys
import multiprocessing

import pandas as pd
import polars as pl
from gensim.models import Word2Vec
import torch
import torch.nn as nn
from sklearn.model_selection import train_test_split
import joblib
from pandarallel import pandarallel
pandarallel.initialize()

logger = logging.getLogger()

/home/search3/miniconda3/envs/kaggle/lib/python3.8/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

INFO: Pandarallel will run on 10 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

# 任务描述
## clicks
只预测一个
## carts
预测20个
## orders
预测20个

In [2]:
DATADIR = "/home/search3/lichunyu/dataset/otto-recommender-system"

In [3]:
test_data_path = os.path.join(DATADIR, "test.parquet")
train_data_path = os.path.join(DATADIR, "train.parquet")
type2idx_path = os.path.join(DATADIR, "type2id.pkl")
idx2type_path = os.path.join(DATADIR, "id2type.pkl")
sample_submission_path = os.path.join(DATADIR, "sample_submission.csv")

In [4]:
train_data = pl.read_parquet(train_data_path)
test_data = pl.read_parquet(test_data_path)

train_data

shape: (216716096, 4)
┌──────────┬─────────┬────────────┬──────┐
│ session  ┆ aid     ┆ ts         ┆ type │
│ ---      ┆ ---     ┆ ---        ┆ ---  │
│ i32      ┆ i32     ┆ i32        ┆ u8   │
╞══════════╪═════════╪════════════╪══════╡
│ 0        ┆ 1517085 ┆ 1659304800 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0        ┆ 1563459 ┆ 1659304904 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0        ┆ 1309446 ┆ 1659367439 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0        ┆ 16246   ┆ 1659367719 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ ...      ┆ ...     ┆ ...        ┆ ...  │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 12899777 ┆ 384045  ┆ 1661723976 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 12899777 ┆ 384045  ┆ 1661723986 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 12899778 ┆ 561560  ┆ 1661723983 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 12899778 ┆ 32070   ┆ 1661723994 ┆ 0    │
└──────────┴─────────┴────────────┴──────┘

In [8]:
type2idx = pd.read_pickle(type2idx_path)
idx2type = pd.read_pickle(idx2type_path)
print(f"type2idx is: {chr(10)}    {type2idx}")
print(f"idx2type is: {chr(10)}    {idx2type}")

type2idx is:
    {'clicks': 0, 'carts': 1, 'orders': 2}
idx2type is:
    ['clicks', 'carts', 'orders']

In [10]:
df_sentences = pl.concat([train_data, test_data]).groupby('session').agg(
    pl.col('aid').alias('sentence')
)

In [32]:
df_train_group = train_data.groupby("session").agg(
    (pl.col("aid"),
    pl.col("ts"),
    pl.col("type"))
)
df_train_group

shape: (12899779, 4)
┌──────────┬─────────────────────────────────┬─────────────────────────────────────┬───────────────┐
│ session  ┆ aid                             ┆ ts                                  ┆ type          │
│ ---      ┆ ---                             ┆ ---                                 ┆ ---           │
│ i32      ┆ list[i32]                       ┆ list[i32]                           ┆ list[u8]      │
╞══════════╪═════════════════════════════════╪═════════════════════════════════════╪═══════════════╡
│ 6368     ┆ [100129, 597326, ... 737942]    ┆ [1659305032, 1659336329, ... 166... ┆ [0, 0, ... 0] │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 8659776  ┆ [1784774, 362805]               ┆ [1660522695, 1660525651]            ┆ [0, 0]        │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 8805280  ┆ [50503, 1366533, ... 191879]    ┆ [1660562199, 1660562348, ... 166... ┆ [0, 0, ... 0] │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 9254400  ┆ [932022, 932022]                ┆ [1660649076, 1660652257]            ┆ [0, 0]        │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...      ┆ ...                             ┆ ...                                 ┆ ...           │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2049377  ┆ [347712, 1079012]               ┆ [1659469739, 1660071066]            ┆ [0, 0]        │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 12109249 ┆ [895055, 1402077, ... 1643750]  ┆ [1661452480, 1661452521, ... 166... ┆ [0, 0, ... 0] │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 8184897  ┆ [1790438, 1717181, ... 1717181] ┆ [1660468700, 1660471691, ... 166... ┆ [0, 0, ... 0] │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1297665  ┆ [1593224, 348320, ... 860168]   ┆ [1659416096, 1659416281, ... 166... ┆ [0, 0, ... 0] │
└──────────┴─────────────────────────────────┴─────────────────────────────────────┴───────────────┘

In [30]:
train_data

shape: (216716096, 4)
┌──────────┬─────────┬────────────┬──────┐
│ session  ┆ aid     ┆ ts         ┆ type │
│ ---      ┆ ---     ┆ ---        ┆ ---  │
│ i32      ┆ i32     ┆ i32        ┆ u8   │
╞══════════╪═════════╪════════════╪══════╡
│ 0        ┆ 1517085 ┆ 1659304800 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0        ┆ 1563459 ┆ 1659304904 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0        ┆ 1309446 ┆ 1659367439 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0        ┆ 16246   ┆ 1659367719 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ ...      ┆ ...     ┆ ...        ┆ ...  │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 12899777 ┆ 384045  ┆ 1661723976 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 12899777 ┆ 384045  ┆ 1661723986 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 12899778 ┆ 561560  ┆ 1661723983 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 12899778 ┆ 32070   ┆ 1661723994 ┆ 0    │
└──────────┴─────────┴────────────┴──────┘

In [14]:
sentences = df_sentences['sentence'].to_list()

In [18]:
cores = multiprocessing.cpu_count() # Count the number of cores in a computer

word2vec = Word2Vec(
                 sentences=sentences, 
                 window = 5, # 5: 0.509, 10: 0.508
#                  sg = 0,  # 1 -> skip-gram, 0 -> CBOW    1: 0.509, 0: 0.508
                 vector_size=100,  # 200: 0.509, 150: 0.509, 100: 0.510, 50: 0.509
#                  sample=6e-5,
                 alpha=0.04,       # 0.1: 0.494, 0.05: 0.507, 0.04: 0.509, 0.03: 0.509, 0.01: 0.503 <-200
                                   # 0.04: 0.510, 0.02: 0.509 <-100
                 min_alpha=0.01,  # 0.0001: 0.510, 0.001: 0.509, 0.01: 0.510
                 min_count=1, 
                 negative=5,  # 5: 0.510, 20: 0.513 (alpha=0.02), 30: 0.510 (alpha=0.04)
                 workers=cores-1
                )

In [20]:
joblib.dump(word2vec, "word2vec.m")

['word2vec.m']

In [5]:
df_train_group = train_data.groupby("session").agg(
    (pl.col("aid"),
    pl.col("ts"),
    pl.col("type"))
)
df_train_group

shape: (12899779, 4)
┌──────────┬────────────────────────────────┬─────────────────────────────────────┬───────────────┐
│ session  ┆ aid                            ┆ ts                                  ┆ type          │
│ ---      ┆ ---                            ┆ ---                                 ┆ ---           │
│ i32      ┆ list[i32]                      ┆ list[i32]                           ┆ list[u8]      │
╞══════════╪════════════════════════════════╪═════════════════════════════════════╪═══════════════╡
│ 11627232 ┆ [265478, 1646989]              ┆ [1661282733, 1661283165]            ┆ [0, 0]        │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2253344  ┆ [1004996, 242290, ... 789356]  ┆ [1659506473, 1659510400, ... 166... ┆ [0, 0, ... 0] │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 10057088 ┆ [1844457, 523934, ... 1199089] ┆ [1660847707, 1661279790, ... 166... ┆ [0, 0, ... 0] │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 10688128 ┆ [357564, 1417794]              ┆ [1661020292, 1661259952]            ┆ [0, 0]        │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...      ┆ ...                            ┆ ...                                 ┆ ...           │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 3233569  ┆ [480734, 378767, ... 1132229]  ┆ [1659608548, 1659608917, ... 166... ┆ [0, 1, ... 2] │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 8930817  ┆ [1290951, 1575029, 334690]     ┆ [1660577740, 1660577781, 1660587... ┆ [0, 1, 0]     │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 9134209  ┆ [1537709, 116890, ... 607872]  ┆ [1660605737, 1660605821, ... 166... ┆ [0, 0, ... 0] │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 10213665 ┆ [1727577, 530603, ... 1727577] ┆ [1660903691, 1660903776, ... 166... ┆ [0, 0, ... 0] │
└──────────┴────────────────────────────────┴─────────────────────────────────────┴───────────────┘

In [6]:
df_train, df_dev = train_test_split(df_train_group, test_size=0.2)

In [7]:
df_dev

shape: (2579956, 4)
┌──────────┬─────────────────────────────────┬─────────────────────────────────────┬───────────────┐
│ session  ┆ aid                             ┆ ts                                  ┆ type          │
│ ---      ┆ ---                             ┆ ---                                 ┆ ---           │
│ i32      ┆ list[i32]                       ┆ list[i32]                           ┆ list[u8]      │
╞══════════╪═════════════════════════════════╪═════════════════════════════════════╪═══════════════╡
│ 8893062  ┆ [691398, 1283903, ... 1808294]  ┆ [1660573358, 1660573579, ... 166... ┆ [0, 0, ... 0] │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 7620792  ┆ [1760714, 155954, ... 155954]   ┆ [1660370095, 1660370233, ... 166... ┆ [0, 0, ... 0] │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 9303204  ┆ [816594, 41762]                 ┆ [1660657576, 1660668743]            ┆ [0, 0]        │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 6017195  ┆ [890995, 545397]                ┆ [1660055612, 1660058109]            ┆ [0, 0]        │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...      ┆ ...                             ┆ ...                                 ┆ ...           │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 5560629  ┆ [99846, 1485561, ... 781589]    ┆ [1659967919, 1659967926, ... 165... ┆ [0, 0, ... 0] │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1529115  ┆ [1794432, 1794432, ... 1762856] ┆ [1659437069, 1659610179, ... 166... ┆ [0, 0, ... 2] │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 9306005  ┆ [1427212, 1289166, ... 1660252] ┆ [1660658052, 1660658295, ... 166... ┆ [0, 0, ... 0] │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 10133594 ┆ [781589, 1007554]               ┆ [1660864478, 1660864502]            ┆ [0, 0]        │
└──────────┴─────────────────────────────────┴─────────────────────────────────────┴───────────────┘

In [8]:
# df_dev.to_pandas().to_parquet("dev.parquet")
df_dev = df_dev.to_pandas()

In [9]:
def filter_by_idx(x, type_idx):
    aids, _type = x["aid"], x["type"]
    res = []
    for a, t in zip(aids[int(len(x)*0.7):], _type[int(len(x)*0.7):]):
        if t == type_idx:
            res.append(a)
    return res

# df_dev = df_dev.to_pandas()
df_dev["sentences"] = df_dev["aid"].apply(lambda x: x[:int(len(x)*0.7)])
df_dev["type_ids"] = df_dev["type"].apply(lambda x: x[:int(len(x)*0.7)])
df_dev["clicks"] = df_dev[["aid", "type"]].apply(filter_by_idx, axis=1, args=(0,))
df_dev["carts"] = df_dev[["aid", "type"]].apply(filter_by_idx, axis=1, args=(1,))
df_dev["orders"] = df_dev[["aid", "type"]].apply(filter_by_idx, axis=1, args=(2,))
df_dev

,session,aid,ts,type,sentences,type_ids,clicks,carts,orders
0,8893062,"[691398, 1283903, 1808294, 957461, 1392269, 23...","[1660573358, 1660573579, 1660573610, 166057373...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[691398, 1283903, 1808294, 957461, 1392269, 23...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1283903, 1808294, 957461, 1392269, 235289, 12...",[1808294],[1808294]
1,7620792,"[1760714, 155954, 674152, 1189162, 674152, 155...","[1660370095, 1660370233, 1660370249, 166037026...","[0, 0, 0, 0, 0, 0]","[1760714, 155954, 674152, 1189162]","[0, 0, 0, 0]","[155954, 674152, 1189162, 674152, 155954]",[],[]
2,9303204,"[816594, 41762]","[1660657576, 1660668743]","[0, 0]",[816594],[0],[41762],[],[]
3,6017195,"[890995, 545397]","[1660055612, 1660058109]","[0, 0]",[890995],[0],[545397],[],[]
4,8561484,"[1577267, 1497545]","[1660504208, 1660504580]","[0, 0]",[1577267],[0],[1497545],[],[]
...,...,...,...,...,...,...,...,...,...
2579951,9444027,"[1464830, 1539043]","[1660679754, 1660680242]","[0, 0]",[1464830],[0],[1539043],[],[]
2579952,5560629,"[99846, 1485561, 781589, 506879, 781589, 87272...","[1659967919, 1659967926, 1659967933, 165996797...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[99846, 1485561, 781589, 506879, 781589, 87272...","[0, 0, 0, 0, 0, 0, 0]","[1485561, 781589, 506879, 781589, 872725, 1488...",[],[]
2579953,1529115,"[1794432, 1794432, 1510009, 1794432, 1794432, ...","[1659437069, 1659610179, 1659610850, 165967732...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 0, 0, 0, ...","[1794432, 1794432, 1510009, 1794432, 1794432, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 0, 0, 0, ...","[1794432, 1510009, 1794432, 1794432, 1212546, ...","[405140, 1762856, 1762856]","[405140, 1762856]"
2579954,9306005,"[1427212, 1289166, 1409416, 1289166, 1289166, ...","[1660658052, 1660658295, 1660658687, 166065888...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1427212, 1289166, 1409416, 1289166, 1289166, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1289166, 1409416, 1289166, 1289166, 1289166, ...",[],[]
2579955,10133594,"[781589, 1007554]","[1660864478, 1660864502]","[0, 0]",[781589],[0],[1007554],[],[]

In [14]:
df_dev["sample_sentences"] = df_dev["sentences"].apply(lambda x: x[-20:])
df_dev["sample_type_ids"] = df_dev["type_ids"].apply(lambda x: x[-20:])
df_dev["sample_ts"] = df_dev["ts"].apply(lambda x: x[-20:])

In [17]:
df_dev[["sample_ts", "sample_sentences", "sample_type_ids", "clicks", "carts", "orders"]].to_pickle("dev_data_sample.pkl")

In [91]:
df_dev[["ts", "sentences", "type_ids", "clicks", "carts", "orders"]].to_parquet("dev_data_pure.parquet")

In [ ]:
def filter_by_idx(x, type_idx):
    aids, _type = x["aid"], x["type"]
    res = []
    for a, t in zip(aids[int(len(x)*0.7):], _type[int(len(x)*0.7):]):
        if t == type_idx:
            res.append(a)
    return res

df_train = df_train.to_pandas()
df_train["sentences"] = df_train["aid"].apply(lambda x: x[:int(len(x)*0.7)])
df_train["type_ids"] = df_train["type"].apply(lambda x: x[:int(len(x)*0.7)])
df_train["clicks"] = df_train[["aid", "type"]].apply(filter_by_idx, axis=1, args=(0,))
df_train["carts"] = df_train[["aid", "type"]].apply(filter_by_idx, axis=1, args=(1,))
df_train["orders"] = df_train[["aid", "type"]].apply(filter_by_idx, axis=1, args=(2,))

df_train["sample_sentences"] = df_train["sentences"].apply(lambda x: x[-20:])
df_train["sample_type_ids"] = df_train["type_ids"].apply(lambda x: x[-20:])
df_train["sample_ts"] = df_train["ts"].apply(lambda x: x[-20:])

df_train[["sample_ts", "sample_sentences", "sample_type_ids", "clicks", "carts", "orders"]].to_pickle("train_data_sample.pkl")
df_train

In [94]:
df_train[["ts", "sentences", "type_ids", "clicks", "carts", "orders"]].to_parquet("train_data_pure.parquet")

In [4]:
test_data = pl.read_parquet(test_data_path)
test_data

shape: (6928123, 4)
┌──────────┬─────────┬────────────┬──────┐
│ session  ┆ aid     ┆ ts         ┆ type │
│ ---      ┆ ---     ┆ ---        ┆ ---  │
│ i32      ┆ i32     ┆ i32        ┆ u8   │
╞══════════╪═════════╪════════════╪══════╡
│ 12899779 ┆ 59625   ┆ 1661724000 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 12899780 ┆ 1142000 ┆ 1661724000 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 12899780 ┆ 582732  ┆ 1661724058 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 12899780 ┆ 973453  ┆ 1661724109 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ ...      ┆ ...     ┆ ...        ┆ ...  │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 14571578 ┆ 519105  ┆ 1662328775 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 14571579 ┆ 739876  ┆ 1662328775 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 14571580 ┆ 202353  ┆ 1662328781 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 14571581 ┆ 1100210 ┆ 1662328791 ┆ 0    │
└──────────┴─────────┴────────────┴──────┘

In [5]:
df_test_group = test_data.groupby("session").agg(
    (pl.col("aid"),
    pl.col("ts"),
    pl.col("type"))
)
df_test_group

shape: (1671803, 4)
┌──────────┬────────────────────────────────┬─────────────────────────────────────┬───────────────┐
│ session  ┆ aid                            ┆ ts                                  ┆ type          │
│ ---      ┆ ---                            ┆ ---                                 ┆ ---           │
│ i32      ┆ list[i32]                      ┆ list[i32]                           ┆ list[u8]      │
╞══════════╪════════════════════════════════╪═════════════════════════════════════╪═══════════════╡
│ 13369984 ┆ [1266268]                      ┆ [1661880055]                        ┆ [0]           │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 13100960 ┆ [673638, 673638, ... 602016]   ┆ [1661796035, 1661796069, ... 166... ┆ [0, 0, ... 0] │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 13848288 ┆ [702630, 1345360, ... 1200931] ┆ [1662048200, 1662049161, ... 166... ┆ [0, 0, ... 0] │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 14028640 ┆ [453746]                       ┆ [1662127164]                        ┆ [0]           │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...      ┆ ...                            ┆ ...                                 ┆ ...           │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 14191585 ┆ [1637601]                      ┆ [1662202892]                        ┆ [0]           │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 13193313 ┆ [1293850, 528626]              ┆ [1661832867, 1661832901]            ┆ [0, 0]        │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 13510817 ┆ [1758278, 551472]              ┆ [1661935101, 1661935179]            ┆ [0, 0]        │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 13750849 ┆ [200603]                       ┆ [1662018082]                        ┆ [0]           │
└──────────┴────────────────────────────────┴─────────────────────────────────────┴───────────────┘

In [7]:
def filter_by_idx(x, type_idx):
    aids, _type = x["aid"], x["type"]
    res = []
    for a, t in zip(aids[int(len(x)*0.7):], _type[int(len(x)*0.7):]):
        if t == type_idx:
            res.append(a)
    return res

df_test = df_test_group.to_pandas()
df_test["sentences"] = df_test["aid"].apply(lambda x: x)
df_test["type_ids"] = df_test["type"].apply(lambda x: x)
df_test["sample_sentences"] = df_test["sentences"].apply(lambda x: x[-20:])
df_test["sample_type_ids"] = df_test["type_ids"].apply(lambda x: x[-20:])
df_test["sample_ts"] = df_test["ts"].apply(lambda x: x[-20:])
df_test

,session,aid,ts,type,sentences,type_ids,sample_sentences,sample_type_ids,sample_ts
0,13369984,[1266268],[1661880055],[0],[1266268],[0],[1266268],[0],[1661880055]
1,13100960,"[673638, 673638, 294277, 341751, 837049, 10958...","[1661796035, 1661796069, 1661796099, 166179624...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...","[673638, 673638, 294277, 341751, 837049, 10958...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...","[1772869, 759002, 159106, 650765, 38987, 19735...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[1662106736, 1662113248, 1662113293, 166230860..."
2,13848288,"[702630, 1345360, 1200931, 1752011, 688140, 17...","[1662048200, 1662049161, 1662049172, 166204930...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[702630, 1345360, 1200931, 1752011, 688140, 17...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[702630, 1345360, 1200931, 1752011, 688140, 17...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1662048200, 1662049161, 1662049172, 166204930..."
3,14028640,[453746],[1662127164],[0],[453746],[0],[453746],[0],[1662127164]
4,14183072,[1610391],[1662200300],[0],[1610391],[0],[1610391],[0],[1662200300]
...,...,...,...,...,...,...,...,...,...
1671798,13280193,[278907],[1661859677],[0],[278907],[0],[278907],[0],[1661859677]
1671799,14191585,[1637601],[1662202892],[0],[1637601],[0],[1637601],[0],[1662202892]
1671800,13193313,"[1293850, 528626]","[1661832867, 1661832901]","[0, 0]","[1293850, 528626]","[0, 0]","[1293850, 528626]","[0, 0]","[1661832867, 1661832901]"
1671801,13510817,"[1758278, 551472]","[1661935101, 1661935179]","[0, 0]","[1758278, 551472]","[0, 0]","[1758278, 551472]","[0, 0]","[1661935101, 1661935179]"
1671802,13750849,[200603],[1662018082],[0],[200603],[0],[200603],[0],[1662018082]

In [9]:
df_test[["session", "sample_ts", "sample_sentences", "sample_type_ids"]].to_pickle("test_data_sample.pkl")

In [24]:
submission = pd.read_csv("../data/submission-lb576.csv")

In [25]:
submission["is_click"] = submission["session_type"].apply(lambda x: 1 if "_clicks" in x else 0)
submission = submission[submission["is_click"]==0][["session_type", "labels"]]
submission

            session_type                                             labels
1671803  12899779_orders  59625 397451 689970 1493965 469285 438191 7316...
1671804  12899780_orders  1142000 736515 973453 582732 889686 487136 175...
1671805  12899781_orders  918667 199008 194067 57315 141736 759436 75441...
1671806  12899782_orders  834354 595994 779477 889671 740494 987399 4760...
1671807  12899783_orders  1817895 607638 1754419 1216820 1729553 300127 ...
...                  ...                                                ...
5015404   14571577_carts  1141710 1276792 1004292 1666114 367734 86916 8...
5015405   14571578_carts  519105 977826 1811714 822641 815460 1536592 16...
5015406   14571579_carts  739876 1209992 1750859 1550479 51363 785544 17...
5015407   14571580_carts  202353 1314576 433425 871658 1231403 925638 67...
5015408   14571581_carts  1100210 1684953 462056 1158237 1401429 622489 ...

[3343606 rows x 2 columns]

In [19]:
submission.to_csv("test.csv", index=False)

In [29]:
submission["session_type"].to_list()

['12899779_orders',
 '12899780_orders',
 '12899781_orders',
 '12899782_orders',
 '12899783_orders',
 '12899784_orders',
 '12899785_orders',
 '12899786_orders',
 '12899787_orders',
 '12899788_orders',
 '12899789_orders',
 '12899790_orders',
 '12899791_orders',
 '12899792_orders',
 '12899793_orders',
 '12899794_orders',
 '12899795_orders',
 '12899796_orders',
 '12899797_orders',
 '12899798_orders',
 '12899799_orders',
 '12899800_orders',
 '12899801_orders',
 '12899802_orders',
 '12899803_orders',
 '12899804_orders',
 '12899805_orders',
 '12899806_orders',
 '12899807_orders',
 '12899808_orders',
 '12899809_orders',
 '12899810_orders',
 '12899811_orders',
 '12899812_orders',
 '12899813_orders',
 '12899814_orders',
 '12899815_orders',
 '12899816_orders',
 '12899817_orders',
 '12899818_orders',
 '12899819_orders',
 '12899820_orders',
 '12899821_orders',
 '12899822_orders',
 '12899823_orders',
 '12899824_orders',
 '12899825_orders',
 '12899826_orders',
 '12899827_orders',
 '12899828_orders',
 '12899829_orders',
 '12899830_orders',
 '12899831_orders',
 '12899832_orders',
 '12899833_orders',
 '12899834_orders',
 '12899835_orders',
 '12899836_orders',
 '12899837_orders',
 '12899838_orders',
 '12899839_orders',
 '12899840_orders',
 '12899841_orders',
 '12899842_orders',
 '12899843_orders',
 '12899844_orders',
 '12899845_orders',
 '12899846_orders',
 '12899847_orders',
 '12899848_orders',
 '12899849_orders',
 '12899850_orders',
 '12899851_orders',
 '12899852_orders',
 '12899853_orders',
 '12899854_orders',
 '12899855_orders',
 '12899856_orders',
 '12899857_orders',
 '12899858_orders',
 '12899859_orders',
 '12899860_orders',
 '12899861_orders',
 '12899862_orders',
 '12899863_orders',
 '12899864_orders',
 '12899865_orders',
 '12899866_orders',
 '12899867_orders',
 '12899868_orders',
 '12899869_orders',
 '12899870_orders',
 '12899871_orders',
 '12899872_orders',
 '12899873_orders',
 '12899874_orders',
 '12899875_orders',
 '12899876_orders',
 '12899877_orders',
 '12899878_orders',
 '12899879_orders',
 '12899880_orders',
 '12899881_orders',
 '12899882_orders',
 '12899883_orders',
 '12899884_orders',
 '12899885_orders',
 '12899886_orders',
 '12899887_orders',
 '12899888_orders',
 '12899889_orders',
 '12899890_orders',
 '12899891_orders',
 '12899892_orders',
 '12899893_orders',
 '12899894_orders',
 '12899895_orders',
 '12899896_orders',
 '12899897_orders',
 '12899898_orders',
 '12899899_orders',
 '12899900_orders',
 '12899901_orders',
 '12899902_orders',
 '12899903_orders',
 '12899904_orders',
 '12899905_orders',
 '12899906_orders',
 '12899907_orders',
 '12899908_orders',
 '12899909_orders',
 '12899910_orders',
 '12899911_orders',
 '12899912_orders',
 '12899913_orders',
 '12899914_orders',
 '12899915_orders',
 '12899916_orders',
 '12899917_orders',
 '12899918_orders',
 '12899919_orders',
 '12899920_orders',
 '12899921_orders',
 '12899922_orders',
 '12899923_orders',
 '12899924_orders',
 '12899925_orders',
 '12899926_orders',
 '12899927_orders',
 '12899928_orders',
 '12899929_orders',
 '12899930_orders',
 '12899931_orders',
 '12899932_orders',
 '12899933_orders',
 '12899934_orders',
 '12899935_orders',
 '12899936_orders',
 '12899937_orders',
 '12899938_orders',
 '12899939_orders',
 '12899940_orders',
 '12899941_orders',
 '12899942_orders',
 '12899943_orders',
 '12899944_orders',
 '12899945_orders',
 '12899946_orders',
 '12899947_orders',
 '12899948_orders',
 '12899949_orders',
 '12899950_orders',
 '12899951_orders',
 '12899952_orders',
 '12899953_orders',
 '12899954_orders',
 '12899955_orders',
 '12899956_orders',
 '12899957_orders',
 '12899958_orders',
 '12899959_orders',
 '12899960_orders',
 '12899961_orders',
 '12899962_orders',
 '12899963_orders',
 '12899964_orders',
 '12899965_orders',
 '12899966_orders',
 '12899967_orders',
 '12899968_orders',
 '12899969_orders',
 '12899970_orders',
 '12899971_orders',
 '12899972_orders',
 '12899973_orders',
 '12899974_orders',
 '12899975_orders',
 '12899976_orders',
 '12899977_orders',
 '12899978_orders',
 '12899979_orders',
 '12899980_orders',
 '12899981_orders',
 '12899982_orders',
 '12899983_orders',
 '12899984_orders',
 '12899985_orders',
 '12899986_orders',
 '12899987_orders',
 '12899988_orders',
 '12899989_orders',
 '12899990_orders',
 '12899991_orders',
 '12899992_orders',
 '12899993_orders',
 '12899994_orders',
 '12899995_orders',
 '12899996_orders',
 '12899997_orders',
 '12899998_orders',
 '12899999_orders',
 '12900000_orders',
 '12900001_orders',
 '12900002_orders',
 '12900003_orders',
 '12900004_orders',
 '12900005_orders',
 '12900006_orders',
 '12900007_orders',
 '12900008_orders',
 '12900009_orders',
 '12900010_orders',
 '12900011_orders',
 '12900012_orders',
 '12900013_orders',
 '12900014_orders',
 '12900015_orders',
 '12900016_orders',
 '12900017_orders',
 '12900018_orders',
 '12900019_orders',
 '12900020_orders',
 '12900021_orders',
 '12900022_orders',
 '12900023_orders',
 '12900024_orders',
 '12900025_orders',
 '12900026_orders',
 '12900027_orders',
 '12900028_orders',
 '12900029_orders',
 '12900030_orders',
 '12900031_orders',
 '12900032_orders',
 '12900033_orders',
 '12900034_orders',
 '12900035_orders',
 '12900036_orders',
 '12900037_orders',
 '12900038_orders',
 '12900039_orders',
 '12900040_orders',
 '12900041_orders',
 '12900042_orders',
 '12900043_orders',
 '12900044_orders',
 '12900045_orders',
 '12900046_orders',
 '12900047_orders',
 '12900048_orders',
 '12900049_orders',
 '12900050_orders',
 '12900051_orders',
 '12900052_orders',
 '12900053_orders',
 '12900054_orders',
 '12900055_orders',
 '12900056_orders',
 '12900057_orders',
 '12900058_orders',
 '12900059_orders',
 '12900060_orders',
 '12900061_orders',
 '12900062_orders',
 '12900063_orders',
 '12900064_orders',
 '12900065_orders',
 '12900066_orders',
 '12900067_orders',
 '12900068_orders',
 '12900069_orders',
 '12900070_orders',
 '12900071_orders',
 '12900072_orders',
 '12900073_orders',
 '12900074_orders',
 '12900075_orders',
 '12900076_orders',
 '12900077_orders',
 '12900078_orders',
 '12900079_orders',
 '12900080_orders',
 '12900081_orders',
 '12900082_orders',
 '12900083_orders',
 '12900084_orders',
 '12900085_orders',
 '12900086_orders',
 '12900087_orders',
 '12900088_orders',
 '12900089_orders',
 '12900090_orders',
 '12900091_orders',
 '12900092_orders',
 '12900093_orders',
 '12900094_orders',
 '12900095_orders',
 '12900096_orders',
 '12900097_orders',
 '12900098_orders',
 '12900099_orders',
 '12900100_orders',
 '12900101_orders',
 '12900102_orders',
 '12900103_orders',
 '12900104_orders',
 '12900105_orders',
 '12900106_orders',
 '12900107_orders',
 '12900108_orders',
 '12900109_orders',
 '12900110_orders',
 '12900111_orders',
 '12900112_orders',
 '12900113_orders',
 '12900114_orders',
 '12900115_orders',
 '12900116_orders',
 '12900117_orders',
 '12900118_orders',
 '12900119_orders',
 '12900120_orders',
 '12900121_orders',
 '12900122_orders',
 '12900123_orders',
 '12900124_orders',
 '12900125_orders',
 '12900126_orders',
 '12900127_orders',
 '12900128_orders',
 '12900129_orders',
 '12900130_orders',
 '12900131_orders',
 '12900132_orders',
 '12900133_orders',
 '12900134_orders',
 '12900135_orders',
 '12900136_orders',
 '12900137_orders',
 '12900138_orders',
 '12900139_orders',
 '12900140_orders',
 '12900141_orders',
 '12900142_orders',
 '12900143_orders',
 '12900144_orders',
 '12900145_orders',
 '12900146_orders',
 '12900147_orders',
 '12900148_orders',
 '12900149_orders',
 '12900150_orders',
 '12900151_orders',
 '12900152_orders',
 '12900153_orders',
 '12900154_orders',
 '12900155_orders',
 '12900156_orders',
 '12900157_orders',
 '12900158_orders',
 '12900159_orders',
 '12900160_orders',
 '12900161_orders',
 '12900162_orders',
 '12900163_orders',
 '12900164_orders',
 '12900165_orders',
 '12900166_orders',
 '12900167_orders',
 '12900168_orders',
 '12900169_orders',
 '12900170_orders',
 '12900171_orders',
 '12900172_orders',
 '12900173_orders',
 '12900174_orders',
 '12900175_orders',
 '12900176_orders',
 '12900177_orders',
 '12900178_orders',
 '12900179_orders',
 '12900180_orders',
 '12900181_orders',
 '12900182_orders',
 '12900183_orders',
 '12900184_orders',
 '12900185_orders',
 '12900186_orders',
 '12900187_orders',
 '12900188_orders',
 '12900189_orders',
 '12900190_orders',
 '12900191_orders',
 '12900192_orders',
 '12900193_orders',
 '12900194_orders',
 '12900195_orders',
 '12900196_orders',
 '12900197_orders',
 '12900198_orders',
 '12900199_orders',
 '12900200_orders',
 '12900201_orders',
 '12900202_orders',
 '12900203_orders',
 '12900204_orders',
 '12900205_orders',
 '12900206_orders',
 '12900207_orders',
 '12900208_orders',
 '12900209_orders',
 '12900210_orders',
 '12900211_orders',
 '12900212_orders',
 '12900213_orders',
 '12900214_orders',
 '12900215_orders',
 '12900216_orders',
 '12900217_orders',
 '12900218_orders',
 '12900219_orders',
 '12900220_orders',
 '12900221_orders',
 '12900222_orders',
 '12900223_orders',
 '12900224_orders',
 '12900225_orders',
 '12900226_orders',
 '12900227_orders',
 '12900228_orders',
 '12900229_orders',
 '12900230_orders',
 '12900231_orders',
 '12900232_orders',
 '12900233_orders',
 '12900234_orders',
 '12900235_orders',
 '12900236_orders',
 '12900237_orders',
 '12900238_orders',
 '12900239_orders',
 '12900240_orders',
 '12900241_orders',
 '12900242_orders',
 '12900243_orders',
 '12900244_orders',
 '12900245_orders',
 '12900246_orders',
 '12900247_orders',
 '12900248_orders',
 '12900249_orders',
 '12900250_orders',
 '12900251_orders',
 '12900252_orders',
 '12900253_orders',
 '12900254_orders',
 '12900255_orders',
 '12900256_orders',
 '12900257_orders',
 '12900258_orders',
 '12900259_orders',
 '12900260_orders',
 '12900261_orders',
 '12900262_orders',
 '12900263_orders',
 '12900264_orders',
 '12900265_orders',
 '12900266_orders',
 '12900267_orders',
 '12900268_orders',
 '12900269_orders',
 '12900270_orders',
 '12900271_orders',
 '12900272_orders',
 '12900273_orders',
 '12900274_orders',
 '12900275_orders',
 '12900276_orders',
 '12900277_orders',
 '12900278_orders',
 '12900279_orders',
 '12900280_orders',
 '12900281_orders',
 '12900282_orders',
 '12900283_orders',
 '12900284_orders',
 '12900285_orders',
 '12900286_orders',
 '12900287_orders',
 '12900288_orders',
 '12900289_orders',
 '12900290_orders',
 '12900291_orders',
 '12900292_orders',
 '12900293_orders',
 '12900294_orders',
 '12900295_orders',
 '12900296_orders',
 '12900297_orders',
 '12900298_orders',
 '12900299_orders',
 '12900300_orders',
 '12900301_orders',
 '12900302_orders',
 '12900303_orders',
 '12900304_orders',
 '12900305_orders',
 '12900306_orders',
 '12900307_orders',
 '12900308_orders',
 '12900309_orders',
 '12900310_orders',
 '12900311_orders',
 '12900312_orders',
 '12900313_orders',
 '12900314_orders',
 '12900315_orders',
 '12900316_orders',
 '12900317_orders',
 '12900318_orders',
 '12900319_orders',
 '12900320_orders',
 '12900321_orders',
 '12900322_orders',
 '12900323_orders',
 '12900324_orders',
 '12900325_orders',
 '12900326_orders',
 '12900327_orders',
 '12900328_orders',
 '12900329_orders',
 '12900330_orders',
 '12900331_orders',
 '12900332_orders',
 '12900333_orders',
 '12900334_orders',
 '12900335_orders',
 '12900336_orders',
 '12900337_orders',
 '12900338_orders',
 '12900339_orders',
 '12900340_orders',
 '12900341_orders',
 '12900342_orders',
 '12900343_orders',
 '12900344_orders',
 '12900345_orders',
 '12900346_orders',
 '12900347_orders',
 '12900348_orders',
 '12900349_orders',
 '12900350_orders',
 '12900351_orders',
 '12900352_orders',
 '12900353_orders',
 '12900354_orders',
 '12900355_orders',
 '12900356_orders',
 '12900357_orders',
 '12900358_orders',
 '12900359_orders',
 '12900360_orders',
 '12900361_orders',
 '12900362_orders',
 '12900363_orders',
 '12900364_orders',
 '12900365_orders',
 '12900366_orders',
 '12900367_orders',
 '12900368_orders',
 '12900369_orders',
 '12900370_orders',
 '12900371_orders',
 '12900372_orders',
 '12900373_orders',
 '12900374_orders',
 '12900375_orders',
 '12900376_orders',
 '12900377_orders',
 '12900378_orders',
 '12900379_orders',
 '12900380_orders',
 '12900381_orders',
 '12900382_orders',
 '12900383_orders',
 '12900384_orders',
 '12900385_orders',
 '12900386_orders',
 '12900387_orders',
 '12900388_orders',
 '12900389_orders',
 '12900390_orders',
 '12900391_orders',
 '12900392_orders',
 '12900393_orders',
 '12900394_orders',
 '12900395_orders',
 '12900396_orders',
 '12900397_orders',
 '12900398_orders',
 '12900399_orders',
 '12900400_orders',
 '12900401_orders',
 '12900402_orders',
 '12900403_orders',
 '12900404_orders',
 '12900405_orders',
 '12900406_orders',
 '12900407_orders',
 '12900408_orders',
 '12900409_orders',
 '12900410_orders',
 '12900411_orders',
 '12900412_orders',
 '12900413_orders',
 '12900414_orders',
 '12900415_orders',
 '12900416_orders',
 '12900417_orders',
 '12900418_orders',
 '12900419_orders',
 '12900420_orders',
 '12900421_orders',
 '12900422_orders',
 '12900423_orders',
 '12900424_orders',
 '12900425_orders',
 '12900426_orders',
 '12900427_orders',
 '12900428_orders',
 '12900429_orders',
 '12900430_orders',
 '12900431_orders',
 '12900432_orders',
 '12900433_orders',
 '12900434_orders',
 '12900435_orders',
 '12900436_orders',
 '12900437_orders',
 '12900438_orders',
 '12900439_orders',
 '12900440_orders',
 '12900441_orders',
 '12900442_orders',
 '12900443_orders',
 '12900444_orders',
 '12900445_orders',
 '12900446_orders',
 '12900447_orders',
 '12900448_orders',
 '12900449_orders',
 '12900450_orders',
 '12900451_orders',
 '12900452_orders',
 '12900453_orders',
 '12900454_orders',
 '12900455_orders',
 '12900456_orders',
 '12900457_orders',
 '12900458_orders',
 '12900459_orders',
 '12900460_orders',
 '12900461_orders',
 '12900462_orders',
 '12900463_orders',
 '12900464_orders',
 '12900465_orders',
 '12900466_orders',
 '12900467_orders',
 '12900468_orders',
 '12900469_orders',
 '12900470_orders',
 '12900471_orders',
 '12900472_orders',
 '12900473_orders',
 '12900474_orders',
 '12900475_orders',
 '12900476_orders',
 '12900477_orders',
 '12900478_orders',
 '12900479_orders',
 '12900480_orders',
 '12900481_orders',
 '12900482_orders',
 '12900483_orders',
 '12900484_orders',
 '12900485_orders',
 '12900486_orders',
 '12900487_orders',
 '12900488_orders',
 '12900489_orders',
 '12900490_orders',
 '12900491_orders',
 '12900492_orders',
 '12900493_orders',
 '12900494_orders',
 '12900495_orders',
 '12900496_orders',
 '12900497_orders',
 '12900498_orders',
 '12900499_orders',
 '12900500_orders',
 '12900501_orders',
 '12900502_orders',
 '12900503_orders',
 '12900504_orders',
 '12900505_orders',
 '12900506_orders',
 '12900507_orders',
 '12900508_orders',
 '12900509_orders',
 '12900510_orders',
 '12900511_orders',
 '12900512_orders',
 '12900513_orders',
 '12900514_orders',
 '12900515_orders',
 '12900516_orders',
 '12900517_orders',
 '12900518_orders',
 '12900519_orders',
 '12900520_orders',
 '12900521_orders',
 '12900522_orders',
 '12900523_orders',
 '12900524_orders',
 '12900525_orders',
 '12900526_orders',
 '12900527_orders',
 '12900528_orders',
 '12900529_orders',
 '12900530_orders',
 '12900531_orders',
 '12900532_orders',
 '12900533_orders',
 '12900534_orders',
 '12900535_orders',
 '12900536_orders',
 '12900537_orders',
 '12900538_orders',
 '12900539_orders',
 '12900540_orders',
 '12900541_orders',
 '12900542_orders',
 '12900543_orders',
 '12900544_orders',
 '12900545_orders',
 '12900546_orders',
 '12900547_orders',
 '12900548_orders',
 '12900549_orders',
 '12900550_orders',
 '12900551_orders',
 '12900552_orders',
 '12900553_orders',
 '12900554_orders',
 '12900555_orders',
 '12900556_orders',
 '12900557_orders',
 '12900558_orders',
 '12900559_orders',
 '12900560_orders',
 '12900561_orders',
 '12900562_orders',
 '12900563_orders',
 '12900564_orders',
 '12900565_orders',
 '12900566_orders',
 '12900567_orders',
 '12900568_orders',
 '12900569_orders',
 '12900570_orders',
 '12900571_orders',
 '12900572_orders',
 '12900573_orders',
 '12900574_orders',
 '12900575_orders',
 '12900576_orders',
 '12900577_orders',
 '12900578_orders',
 '12900579_orders',
 '12900580_orders',
 '12900581_orders',
 '12900582_orders',
 '12900583_orders',
 '12900584_orders',
 '12900585_orders',
 '12900586_orders',
 '12900587_orders',
 '12900588_orders',
 '12900589_orders',
 '12900590_orders',
 '12900591_orders',
 '12900592_orders',
 '12900593_orders',
 '12900594_orders',
 '12900595_orders',
 '12900596_orders',
 '12900597_orders',
 '12900598_orders',
 '12900599_orders',
 '12900600_orders',
 '12900601_orders',
 '12900602_orders',
 '12900603_orders',
 '12900604_orders',
 '12900605_orders',
 '12900606_orders',
 '12900607_orders',
 '12900608_orders',
 '12900609_orders',
 '12900610_orders',
 '12900611_orders',
 '12900612_orders',
 '12900613_orders',
 '12900614_orders',
 '12900615_orders',
 '12900616_orders',
 '12900617_orders',
 '12900618_orders',
 '12900619_orders',
 '12900620_orders',
 '12900621_orders',
 '12900622_orders',
 '12900623_orders',
 '12900624_orders',
 '12900625_orders',
 '12900626_orders',
 '12900627_orders',
 '12900628_orders',
 '12900629_orders',
 '12900630_orders',
 '12900631_orders',
 '12900632_orders',
 '12900633_orders',
 '12900634_orders',
 '12900635_orders',
 '12900636_orders',
 '12900637_orders',
 '12900638_orders',
 '12900639_orders',
 '12900640_orders',
 '12900641_orders',
 '12900642_orders',
 '12900643_orders',
 '12900644_orders',
 '12900645_orders',
 '12900646_orders',
 '12900647_orders',
 '12900648_orders',
 '12900649_orders',
 '12900650_orders',
 '12900651_orders',
 '12900652_orders',
 '12900653_orders',
 '12900654_orders',
 '12900655_orders',
 '12900656_orders',
 '12900657_orders',
 '12900658_orders',
 '12900659_orders',
 '12900660_orders',
 '12900661_orders',
 '12900662_orders',
 '12900663_orders',
 '12900664_orders',
 '12900665_orders',
 '12900666_orders',
 '12900667_orders',
 '12900668_orders',
 '12900669_orders',
 '12900670_orders',
 '12900671_orders',
 '12900672_orders',
 '12900673_orders',
 '12900674_orders',
 '12900675_orders',
 '12900676_orders',
 '12900677_orders',
 '12900678_orders',
 '12900679_orders',
 '12900680_orders',
 '12900681_orders',
 '12900682_orders',
 '12900683_orders',
 '12900684_orders',
 '12900685_orders',
 '12900686_orders',
 '12900687_orders',
 '12900688_orders',
 '12900689_orders',
 '12900690_orders',
 '12900691_orders',
 '12900692_orders',
 '12900693_orders',
 '12900694_orders',
 '12900695_orders',
 '12900696_orders',
 '12900697_orders',
 '12900698_orders',
 '12900699_orders',
 '12900700_orders',
 '12900701_orders',
 '12900702_orders',
 '12900703_orders',
 '12900704_orders',
 '12900705_orders',
 '12900706_orders',
 '12900707_orders',
 '12900708_orders',
 '12900709_orders',
 '12900710_orders',
 '12900711_orders',
 '12900712_orders',
 '12900713_orders',
 '12900714_orders',
 '12900715_orders',
 '12900716_orders',
 '12900717_orders',
 '12900718_orders',
 '12900719_orders',
 '12900720_orders',
 '12900721_orders',
 '12900722_orders',
 '12900723_orders',
 '12900724_orders',
 '12900725_orders',
 '12900726_orders',
 '12900727_orders',
 '12900728_orders',
 '12900729_orders',
 '12900730_orders',
 '12900731_orders',
 '12900732_orders',
 '12900733_orders',
 '12900734_orders',
 '12900735_orders',
 '12900736_orders',
 '12900737_orders',
 '12900738_orders',
 '12900739_orders',
 '12900740_orders',
 '12900741_orders',
 '12900742_orders',
 '12900743_orders',
 '12900744_orders',
 '12900745_orders',
 '12900746_orders',
 '12900747_orders',
 '12900748_orders',
 '12900749_orders',
 '12900750_orders',
 '12900751_orders',
 '12900752_orders',
 '12900753_orders',
 '12900754_orders',
 '12900755_orders',
 '12900756_orders',
 '12900757_orders',
 '12900758_orders',
 '12900759_orders',
 '12900760_orders',
 '12900761_orders',
 '12900762_orders',
 '12900763_orders',
 '12900764_orders',
 '12900765_orders',
 '12900766_orders',
 '12900767_orders',
 '12900768_orders',
 '12900769_orders',
 '12900770_orders',
 '12900771_orders',
 '12900772_orders',
 '12900773_orders',
 '12900774_orders',
 '12900775_orders',
 '12900776_orders',
 '12900777_orders',
 '12900778_orders',